<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Members Only</title>
  <link rel="stylesheet" href="./styles/home.css">
</head>
<body>
  <div class="home-page-container">
    <div class="header-container">
      <div class="members-container">
        <img src="./images/members.png" alt="Members" width="50px" height="50px">
        <p class="logo-name">Members Only</p>
      </div>
      <div class="login-register-container">
        <a href="/register">Register</a>
        <a href="/login">Login</a>
      </div>
    </div>
    <hr>
    <div class="home-content-container">
      <div class="home-content-header">
        <img src="./images/home.png" alt="Home" width="25px" height="25px">
        <h2><%= locals.page %></h2>
      </div>
      <% if (locals.data) {%>
        <% data.forEach((data) => { %>
            <div class="message-container">
              <div class="title-creator">
                <h3><%= data.title %></h3>
                <p>Anonymous</p>
              </div>
              <p><%= data.message %></p>
              <p class="date"><%= data.formatted_date %></p>          
            </div>
        <% }); %>
      <% } %>
    </div>
    <hr>
    <div class='footer'>
      <p>© 2025 Amanuel Tesfatsion (The Odin Projects) All rights reserved.</p>
    </div>
    
  </div>
</body>
</html>