<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
  <h2>Login page</h2>
  <form action="/login" method="post">
    <label for="userName">User Name:</label>
    <input type="text" name="userName">
    <label for="password">Password:</label>
    <input type="password" name="password">
    <button type="submit"> Login </button>
  </form>
</body>
</html>