<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
</head>
<body>
  <h2>Register Page</h2>
  <form action="/register" method="POST">
    <label for="firstName">First Name:</label>
    <input name="firstName" type="text" placeholder="Aman" required>
    <label for="lastName">Last Name</label>
    <input name="lastName" type="text" placeholder="Papa" required>
    <label for="userName">User Name</label>
    <input name="userName" type="text" placeholder="A$D" required>
    <label for="password">Password</label>
    <input name="password" type="password" required>
    <label for="confirm">Confirm password</label>
    <input name="confirmPassword" type="password" required>
    <button type="submit">Sign up</button>
  </form>
</body>
</html>